/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body and base Layout*/

body {
    font-family: sans-serif;
    line-height: 1.6;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
    background-color: #f8f8f8;
    color: #333;
}

/* Header - this is where I apply Flexbox to my header so that the title and nav menu appear side by side.  Adds space below the header for viual separation*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

