/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body and base Layout*/

body {
    font-family: sans-serif;
    line-height: 1.6;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
    background-color: #f8f8f8;
    color: #333;
}

/* Header - this is where I apply Flexbox to my header so that the title and nav menu appear side by side.  Adds space below the header for viual separation*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Remove default bullet points from the nav list and displays nav items like Home, Dashboard in a horizontal row using Flex box. Then adds 15px of space between the nave links*/

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}


/*Remove the default underline on links and apply a blue color to the links and underline on hover for better user interaction */

nav a {
    text-decoration: none;
    color:#0066cc;
}

nav a:hover {
    text-decoration: underline;
}


/* adds space between each section- keeps the layout clean - readable but not tight*/
main section {
    margin-bottom: 25px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #666;
}


/* creates a reusable button class for any a element and applies padding and background and rounded corners and a hover effect links for feel like real buttons for CTAs*/
a.button {
    display: inline block;
    padding: 10 px 20 px;
    background-color: #0066cc;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

