:root{
    --primary-bg: #FDF6F0; /* Light cream pastel background */
    --secondary-bg: #F8D5C2; /* Soft peach pastel header/nav */
    --text-color: #333333; /*Neutral dark gray for readability */
    --accent-color: #004C7F; /* Navy blue for accents and links */
}


header {
    background-color: #396E94;
    color: white;
    text-align: center;
    padding: 2rem;
}



h1, h2 {
    color: var(--accent-color);
    font-family: 'Quicksand', Arial, sans-serif;
    margin: 0.5rem 0;
}

h3 {
    color: #036bb0;
 }


header h1, header h2 {
    
    color: white !important; 
    font-family: Georgia, serif;
    text-transform: uppercase;
}

header h3 {
    color: #036bb0;
}

Body {
    background-color: var(--primary-bg);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
}
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}



section {
    margin: 2rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

table, th, td {
    border: 1px solid #333;
    text-align: center;
    padding: 0.5rem;
}



footer {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}








